#skills {
    padding-top: 50px;
}

.skill {
    display: flex;
    justify-content: space-between;
}

.skill-bg-img {
    display: flex;
  justify-content: center;
  align-items: center;
  background-attachment: fixed;
    background-image: 
    
    url("http://p-schub.lima-city.de/01-project-cv/img/skill-bg.png");
    background-repeat: no-repeat;
    min-height: 150px;
}

.skill-mask {
    display: flex;
  justify-content: center;
  align-items: center;
  background-attachment: fixed;
  min-height: 150px;
  width: 100vw;
    background: linear-gradient(
        328deg,
        #3333ffe6 0%,
        rgba(255, 153, 0, 0.9) 50%,
        rgba(255, 102, 0, 0.9) 100%
      );
}
@media only screen and (max-device-width: 768px) {
    .skill-bg-img {
      background-attachment: scroll;
    }
  }
  

/* .progressBar {
    color: navy;
    background-color: navy;
} */